@model IEnumerable<UserControlUI.ModelsDTO.UserDTO>

<div class="container" p-3>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-6">
            Create new user
        </div>
    </div>

    <br /><br />
</div>