@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="col">
        <a asp-controller="Authentication" asp-action="Login" class="btn btn-primary"> Login</a>
    </div>
    <div class="col">
        <a asp-controller="Authentication" asp-action="Register" class="btn btn-primary"> Register</a>
    </div>
    <div class="col">
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary"> Get users</a>
    </div>
</div>
