@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="col">
        <a asp-controller="Login" asp-action="Login" class="btn btn-primary"> Login</a>
    </div>
    <div class="col">
        <a asp-controller="Login" asp-action="Register" class="btn btn-primary"> Register</a>
    </div>
    <div class="col">
        <a asp-controller="Document" asp-action="Create" class="btn btn-primary"> Create New Doc</a>
    </div>
</div>
